.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.btn-xl {
  padding: 1rem 2rem;
}

#navPrincipal {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#navPrincipal .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

#navPrincipal .navbar-brand:focus, #navPrincipal .navbar-brand:hover {
  color: #f05f40;
}

#navPrincipal .navbar-nav > li.nav-item > a.nav-link,
#navPrincipal .navbar-nav > li.nav-item a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#navPrincipal .navbar-nav > li.nav-item > a.nav-link:hover,
#navPrincipal .navbar-nav > li.nav-item a.nav-link:focus:hover {
  color: #F05F40;
}

#navPrincipal .navbar-nav > li.nav-item > a.nav-link.active,
#navPrincipal .navbar-nav > li.nav-item a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#navPrincipal .navbar-nav > li.nav-item > a.nav-link.active:hover,
#navPrincipal .navbar-nav > li.nav-item a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #navPrincipal {
    border-color: transparent;
    background-color: transparent;
  }
  #navPrincipal .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #navPrincipal .navbar-brand:focus, #navPrincipal .navbar-brand:hover {
    color: #fff;
  }
  #navPrincipal .navbar-nav > li.nav-item > a.nav-link {
    padding: .5rem 1rem;
  }
  #navPrincipal .navbar-nav > li.nav-item > a.nav-link, #navPrincipal a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #navPrincipal .navbar-nav > li.nav-item > a.nav-link:hover, #navPrincipal a.nav-link:focus:hover {
    color: #fff;
  }
  #navPrincipal.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #navPrincipal.navbar-shrink .navbar-brand {
    color: #F05F40;
  }
  #navPrincipal.navbar-shrink .navbar-brand:focus, #navPrincipal.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #navPrincipal.navbar-shrink .navbar-nav > li.nav-item > a.nav-link, #navPrincipal.navbar-shrink a.nav-link:focus {
    color: #212529;
  }
  #navPrincipal.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover, #navPrincipal.navbar-shrink a.nav-link:focus:hover {
    color: #F05F40;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url(../img/header.jpg);
  background-position: center center;
  -ms-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}
